@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

/* Generally used variables for ease of use */

:root{
  --max-width: 70ch;
  --font-main: 'Jersey 15';
  --font-secondary: 'Workbench';
  --font-scale: 1rem;
  --padding: 1rem;
  --background-color: #000000;
  --heading-color: #2dffc4;
  --text-color: #FFFFFF;
  --link-color: rgba(45,255,196,0.9);
  --visited-color: #F5EB59;
}

/* Styling specific to mobile devices */

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

    .hamburger {
    display: none;
  }

}

/* Sets the bg color for the whole website */

html {
  background-color: var(--background-color);
}

/* High level styling */

body {
  font-family: var(--font-secondary);
  font-size: var(--font-scale);
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
  text-align: left;
  padding: var(--padding);
  line-height: 1.5;
  color: var(--text-color)
}


* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-secondary);
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--heading-color);
  text-shadow: 0 0 4px var(--text-color), 0 0 8px var(--heading-color);
}

h2{
  font-family: var(--font-secondary);
  margin: 1rem 0;
  font-size: 2.0rem;
  color: var(--heading-color);
}

h3{
  font-family: var(--font-secondary);
  margin: 1rem 0;
  font-size: 1.5rem;
  color: var(--heading-color);
}

h4{
  font-family: var(--font-secondary);
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--heading-color);
}

h5{
  font-family: var(--font-secondary);
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--heading-color)
}

h6{
  font-family: var(--font-secondary);
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--heading-color)
}


/* Styling of navigation links */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--heading-color);
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  color: var(--heading-color);
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  text-shadow: 0 0 3px var(--text-color), 0 0 6px var(--heading-color);
}

.expanded {
  display: unset;
}