---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>
	<div class="text">
		<p>Katriina Myllyharju. Former nurse, future economist.</p>
		<h2>Extended CV</h2>
		<h3>Languages</h3>
		<ul>
			<li>English, C2</li>
			<li>Finnish, C2</li>
			<li>Swedish, B1</li>
			<li>French, A2</li>
			<li>Japanese, A1</li>
		</ul>
		<h3>Education</h3>
		<h4>Degrees</h4>
		<ul>
			<li>
				2024-Present
				<ul>
					<li>M.Sc. Economics — University of Tampere</li>
				</ul>
			</li>
			<li>
				2022 Fall
				<ul>
					<li>Study Exchange — Konkuk University (South Korea)</li>
				</ul>
			</li>
			<li>
				2021-2024
				<ul>
					<li>BBA Economics & Finance — Laurea University of Applied Sciences</li>
				</ul>
			</li>
			<li>
				2015-2018
				<ul>
					<li>Vocational Degree in Nursing (Mental healthcare) — Tampere Vocational College TREDU</li>
				</ul>
			</li>
		</ul>
		<h4>Artistic education</h4>
		<ul>
			<li>
				2010-2018
				<ul>
					<li>Näpsä käsityökoulu, Basic education in handicrafts</li>
				</ul>
			</li>
			<li>
				2009-2015
				<ul>
					<li>Sara Hildén Akatemia, Basic education in fine arts</li>
				</ul>
			</li>
		</ul>
		<h3>Experience</h3>
		<h4>Professional</h4>
		<ul>
			<li>11/2023 - 04/2024
				<ul>
					<li>International Services Trainee — Laurea University of Applied Sciences. Espoo, Finland
					<ul>
						<li>Assisting in administrative tasks</li>
						<li>Advising students and staff in international mobility related matters</li>
						<li>Planning and graphic design of internal marketing materials</li>
						<li>Creating statistical models for use in financial planning</li>
						<li>Organization and budgeting of international events</li>
						<li>Translating documents (Finnish - English)</li>
						<li>Assisting in teaching</li>
					</ul>
					</li>
				</ul>
			</li>
			<li>04/2018 - 08/2020
				<ul>
					<li>Mental Health nurse — Pirkanmaan Sairaanhoitopiiri. Nokia, Finland
					<ul>
						<li>Psychiatric treatment of difficult eating disorder patients and young adults with psychotic disorders</li>
						<li>Coordinating the improvement and development of new practices and processes in the ward</li>
						<li>Analyzing HR data and preparing reports based on the analyzed data</li>
						<li>In charge of improving employee induction practices</li>
						<li>Resident Rafaela and PPCq expert</li>
					</ul>
					</li>
				</ul>
			</li>
		</ul>
		<h4>Technical</h4>
		<p>E = Expert, A = Advanced, I = Intermediate, B = Beginner</p>
		<ul>
			<li>Software
				<ul>
					<li>Microsoft Office
						<ul>
							<li>Word — A</li>
							<li>Excel — A</li>
							<li>Powerpoint — I</li>
							<li>Power BI — I</li>
						</ul>
					</li>
					<li>Adobe
						<ul>
							<li>Photoshop — I</li>
							<li>Premiere Pro — B</li>
							<li>After Effects — B</li>
							<li>Illustrator — B</li>
							<li>InDesign — B</li>
						</ul>
					</li>
					<li>Stata — A</li>
					<li>SPSS — A</li>
					<li>Autodesk Fusion — I</li>
					<li>Autodesk Autocad — B</li>
					<li>Autodesk Revit — B</li>
					<li>Blender — B</li>
				</ul>
			</li>
			<li>Programming languages
				<ul>
					<li>SQL — I</li>
					<li>Python — I</li>
					<li>R — I</li>
					<li>HTML & CSS — I</li>
				</ul>
			</li>

		</ul>
		<h3>Certifications & microcredentials</h3>
		<ul>
			<li>Marketing & Sales</li>
				<ul>
					<li>2022 — The Fundamentals of Digital Marketing, Google Digital Garage</li>
					<li>2022 — Google Ads Display Certification, Google</li>
					<li>2022 — Google Ads Search Certification, Google</li>
					<li>2022 — <a href="https://app-eu1.hubspot.com/academy/achievements/63w3b7lj/en/1/katriina-myllyharju/inbound-sales">Inbound Sales</a>, Hubspot Academy</li>
					<li>2022 — <a href="https://app-eu1.hubspot.com/academy/achievements/tgb8l1vg/en/1/katriina-myllyharju/inbound-marketing">Inbound Marketing</a>, Hubspot Academy</li>
					<li>2022 — <a href="https://app-eu1.hubspot.com/academy/achievements/pcf7q3h0/en/1/katriina-myllyharju/social-media-marketing">Social Media Marketing</a>, Hubspot Academy</li>
				</ul>
			<li>Data analytics</li>
				<ul>
					<li>2022 — <a href="https://www.linkedin.com/learning/certificates/3e43469102e37d9d9d72fe949f4a608712016216fabe4a974f9d39c13039f4b6?trk=backfilled_certificate">Learning Data Governance</a>, LinkedIn Learning</li>
					<li>2022 — <a href="https://www.linkedin.com/learning/certificates/49bd3eb9f2ef19d46c5fb1d2eb77123a52ddc25ca7353795b20ea5ebba336e96?trk=backfilled_certificate&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BuGNI7Q8YTQubLDSvkwC7Uw%3D%3D">Learning Microsoft Power BI Desktop</a>, LinkedIn Learning</li>
					<li>2022 — <a href="https://www.linkedin.com/learning/certificates/b39ac013480909e877d09c20c181332d49698a89921ad96329d9a6bc62cd8682?trk=backfilled_certificate&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BuGNI7Q8YTQubLDSvkwC7Uw%3D%3D">The Six Biases of Decision-Making</a>, LinkedIn Learning</li>
					<li>2022 — <a href="https://www.linkedin.com/learning/certificates/b30454663304d5f9f7e40397440aa60b03d51f6277425bef5738705e9f8352b1?trk=backfilled_certificate&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BuGNI7Q8YTQubLDSvkwC7Uw%3D%3D">Unconscious Bias</a>, LinkedIn Learning</li>
				</ul>
			<li>Healthcare</li>
				<ul>
					<li>2019 — EA2 Advanced First Aid Certification</li>
					<li>2019 — Implementation of Evidence Based Practice in Healthcare course</li>
					<li>2018 — Management of Actual or Potential Aggression (MAPA), Pirkanmaan Sairaanhoitopiiri</li>
				</ul>
			<li>Miscellaneous</li>
				<ul>
					<li>2024 — <a href="https://openbadgefactory.com/v1/assertion/9aee9b4873daa9363d62817f946d30ec271400be">Labour market academy</a>, Finnish Business School Graduates union</li>
					<li>2024 — <a href="https://openbadgepassport.com/app/badge/info/718052">Laurea International Expert</a>, Laurea University of Applied Sciences</li>
				</ul>
		</ul>
		<h3>Other notable accomplishments</h3>
		<p>Conducted longitudinal quantitative research as part of a research project, and wrote my bachelors thesis on that research. The thesis is in Finnish but contains an english abstract.</p>
		<a href="https://urn.fi/URN:NBN:fi:amk-2024052113841">Thesis: Employment and working ability of 50-70-year old Finns in 2017-2020</a>
	</div>
</BaseLayout>