---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>
	<div class="text">
	<p>This is a page all about me</p>
	</div>
</BaseLayout>