---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>
	<div class="text">
		<strong>This page is still a work in progress!</strong>
		<p>Katriina Myllyharju. Former nurse, future economist.</p>
		<h2>Extended CV</h2>
		<h3>Languages</h3>
		<ul>
			<li>English, C2</li>
			<li>Finnish, C2</li>
			<li>Swedish, B1</li>
			<li>French, A2</li>
			<li>Japanese, A1</li>
		</ul>
		<h3>Education</h3>
		<h4>Degrees</h4>
		<ul>
			<li>
				2024-2026
				<ul>
					<li>University of Tampere, M.Sc. Economics</li>
				</ul>
			</li>
			<li>
				2022 Fall
				<ul>
					<li>Konkuk University (South Korea), Study Exchange</li>
				</ul>
			</li>
			<li>
				2021-2024
				<ul>
					<li>Laurea University of Applied Sciences, BBA Economics & Finance</li>
				</ul>
			</li>
			<li>
				2015-2018
				<ul>
					<li>Tampere Vocational College TREDU, Vocational Degree in Nursing (Mental healthcare)</li>
				</ul>
			</li>
		</ul>
		<h4>Artistic education</h4>
		<ul>
			<li>
				2010-2018
				<ul>
					<li>Näpsä käsityökoulu, Basic education in handicrafts</li>
				</ul>
			</li>
			<li>
				2009-2015
				<ul>
					<li>Sara Hildén Akatemia, Basic education in fine arts</li>
				</ul>
			</li>
		</ul>
		<h3>Experience</h3>
		<h4>Professional</h4>
		<h4>Technical</h4>
		<p>E = Expert, A = Advanced, I = Intermediate, B = Beginner</p>
		<ul>
			<li>Software
				<ul>
					<li>Microsoft Office
						<ul>
							<li>Word, A</li>
							<li>Excel, A</li>
							<li>Powerpoint, I</li>
							<li>Power BI, I</li>
						</ul>
					</li>
					<li>Adobe
						<ul>
							<li>Photoshop, I</li>
							<li>Premiere Pro, B</li>
							<li>After Effects, B</li>
							<li>Illustrator, B</li>
							<li>InDesign, B</li>
						</ul>
					</li>
					<li>Stata, A</li>
					<li>SPSS, A</li>
					<li>Autodesk Fusion, I</li>
					<li>Autodesk Autocad, B</li>
					<li>Blender, B</li>
				</ul>
			</li>
			<li>Programming languages
				<ul>
					<li>SQL, I</li>
					<li>Python, I</li>
					<li>R, I</li>
					<li>HTML & CSS, I</li>
				</ul>
			</li>

		</ul>
		<h3>Other notable accomplishments</h3>
		<p>Conducted longitudinal quantitative research as part of a research project, and wrote my bachelors thesis on that research. The thesis is in Finnish but contains an english abstract.</p>
		<a href="https://urn.fi/URN:NBN:fi:amk-2024052113841">Thesis: Employment and working ability of 50-70-year old Finns in 2017-2020</a>
	</div>
</BaseLayout>