---
import '../styles/global.css';
const pageTitle = "Calling card"
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
        <title>{pageTitle}</title>
		<link rel="icon" type="image/svg+xml" href="/Homepage/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
    <div class="calling-card">
        <body>

            <!-- Text content of the page -->
            <h1>Katriina Myllyharju</h1>
            <p style="font-size: 2rem;">Almost an economist</p>
        </br>
            <p>Email: katriinamyllyharju@proton.me</p>
            <a href="https://kmyllyharju.github.io/Homepage/">Homepage</a>

        </body>
    </div>
</html>

<style>
    .calling-card{
        border: inset;
        border-color: #2dffc4;
        border-width: 10px;
        padding: 20px;
    }
</style>