---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Katriina Myllyharju"
---

<BaseLayout pageTitle={pageTitle}>
	<div class="text">
		<p>Hello and welcome to my website!</p>
		<p>I created this website to act as a one-stop shop for displaying everything that I do that is worth displaying. You can think of it as an extended CV and portfolio combination, created to prevent my CV from becoming a multi-page monstrosity but still allowing me to display all the stuff I do.</p>
		<strong>This site is still very much a work in progress</strong>
	</div>
</BaseLayout>