---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "RPGs"
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
	<p>This page is all about Tabletop RPGs</p>
    {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</BaseLayout>