

<!-- Local styling for the footer -->

<style>
  footer {
    display: flex;
    gap: 1.2rem;
    margin-top: 3rem;
  }
</style>

<!-- Displays the footer elements using the Social component -->
<footer>
  <!-- Bluesky has it's own format so it needs to be done seperately -->
  <a href="https://bsky.app/profile/kmyllyharju.bsky.social"><img src="/icons/bsky.png" style="width:45px;height:40px;"></a>
  <a href="https://github.com/kmyllyharju"><img src="/icons/github-mark-white.png" style="width:40px;height:40px;"></a>
  <a href="https://www.linkedin.com/in/katriina-myllyharju/"><img src="/icons/InBug-White.png" style="width:40px;height:40px;"></a>
</footer>