---
import bsky from 'bsky.png';
import gh from 'github-mark-white.png';
import li from 'InBug-White.png';
---

<!-- Local styling for the footer -->

<style>
  footer {
    display: flex;
    gap: 1.2rem;
    margin-top: 3rem;
  }
</style>

<!-- Displays the footer elements using the Social component -->
<footer>
  <a href="https://bsky.app/profile/kmyllyharju.bsky.social">
    <img src={bsky.src} style="width:45px;height:40px;" />
  </a>
  <a href="https://github.com/kmyllyharju">
    <img src={gh.src} style="width:40px;height:40px;" />
  </a>
  <a href="https://www.linkedin.com/in/katriina-myllyharju/">
    <img src={li.src} style="width:40px;height:40px;" />
  </a>
</footer>
