---
import Hamburger from './Hamburger.astro'
import Navigation from './Navigation.astro'
---

<!-- Renders the header using components -->
 
<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>