---
---

<!-- Contains the navigation links in the header -->

<div class="nav-links">
    <a href="/Homepage/">Home</a>
    <a href="/Homepage/about/">About</a>
    <a href="/Homepage/rpgs/">RPGs</a>
    <a href="/Homepage/writing/">Writing</a>
    <a href="/Homepage/design/">Design & Illustration</a>
</div>