---
const { platform, username } = Astro.props;
---

<!-- Local styling for the social links -->
<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>

<!-- Basically just creates a function for rendering the links with given styling and parameters given in the call -->
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

