---
const { platform, username, image } = Astro.props;
---

<!-- Local styling for the social links -->
<style>
  a {
    padding: 0.5rem 1rem;
  }
</style>

<!-- Basically just creates a function for rendering the links with given styling and parameters given in the call -->
<a href={`https://www.${platform}.com/${username}`}><img src={image} style="width:40px;height:40px;"></a>

